
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

h1,h2,,h3,h4,h5{
    font-family: 'Lexend', sans-serif;
    color: #1a1d20;
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #1a1d20;
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.text-grey{
    color: #c6c6c6;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button, a{
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}

.commen-title{
    margin-bottom: 4.2rem;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    color: #29a9fd !important;
}

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.bg-color{
    background-color: #1c1c1c;
}

.common-section{
    padding: 0 0 9rem 0;
}

.bg-theme{
    color: #c850c0;
    background-image: none !important;
}

.hero-image--section{
    width: 45%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1708242453 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708242453 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-bottom-1708242453 .shape-fill {
    fill: #FFFFFF;
}

.service-section{
    padding: 6rem 0 3rem 0 !important;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color:#29a9fd;
    color: #fff;
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.5) 0 8px 24px;
}

.sec-img{
    width: 270px;   
    margin-left: 150px;
}

.more-info-section{
    background-image: linear-gradient(rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.8)), url(https://wallpaperaccess.com/full/1878568.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 6rem 0;
    overflow: hidden;
}

.carousel .card{
    background-color: #262631;
    color: #fff;
    transition: all 0.3s linear;
}

.carousel-inner .card p{
    color: #fff;
}

.carousel-inner .card:hover{
    background-color: #fff;
    color: #1a1d20;
}

.carousel-inner .card:hover p{  
    color: #1a1d20;
}

.fa-star{
    color: #c850c0;
}

.carousel-indicators{
    bottom: -30%;
}

.carousel-indicators [data-bs-target]{
    width: .7rem;
    height: .7rem;
    background-color: #29a9fd;
}


