*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom, #283c86, #45a247);
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;

}

.card{
    background:  linear-gradient(to top, #8360c3, #2ebf91);
    height: 55vh;
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 0px 3px rgba(255, 255, 255, 1);
    margin: 5px;
    font-size: 50px;
}

h2{
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.7);
    font-size: 40px;
}

p{
    font-size: 23px;
    padding: 15px;
    text-align: right;
    margin-right: 10px;
}


h4{
    font-family: 'Caveat', cursive;
    margin: 20px;
    font-size: 35px;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 0.2px;
}

.another-card1{
    background:  linear-gradient(to top, #8360c3, #2ebf91);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 130px;
    left: 250px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
    z-index: 6;
}

.another-card2{
    background:  linear-gradient(to top, #8360c3, #2ebf91);
    width: 150px;
    height: 150px;
    position: absolute;
    top: 130px;
    right: 250px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    z-index: 7;
}

.another-card3{
    background:  linear-gradient(to top, #8360c3, #2ebf91);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 130px;
    left: 250px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    z-index: 8;
}

.another-card4{
    background:  linear-gradient(to top, #8360c3, #2ebf91);
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 130px;
    right: 250px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
    z-index: 9;
}

